<h1 class="section-heading">Why BetSid</h1>

<div class="row-wrapper" fxLayout="row" fxLayout.xs="column" fxLayoutGap="30px">

  <div class="row-item" fxLayout="column" fxLayoutAlign="center center">
    <div class="item-icon" fxLayout="column" fxLayoutAlign="center center">
      <img src="/assets/tech.png" />
    </div>
    <h2 class="title">Trusted <br> Tech</h2>
    <p class="text">Hosted within the Income Access Network</p>
  </div>

  <div class="row-item" fxLayout="column" fxLayoutAlign="center center">
    <div class="item-icon" fxLayout="column" fxLayoutAlign="center center">
      <img src="/assets/commision.png" />
    </div>
    <h2 class="title">Great <br> Commissions</h2>
    <p class="text">Earn 45% in your first month & A tiered incentive scheme</p>
  </div>

  <div class="row-item" fxLayout="column" fxLayoutAlign="center center">
    <div class="item-icon" fxLayout="column" fxLayoutAlign="center center">
      <img src="/assets/premium.png" />
    </div>
    <h2 class="title">Premium <br> Offers</h2>
    <p class="text">Home of exciting Lucky’s and great value odds</p>
  </div>

  <div class="row-item" fxLayout="column" fxLayoutAlign="center center">
    <div class="item-icon" fxLayout="column" fxLayoutAlign="center center">
      <img src="/assets/affiliates.png" />
    </div>
    <h2 class="title">Experienced <br> Affiliate Managers</h2>
    <p class="text">We wont waste your time, we’ll just help you convert and earn</p>
  </div>

</div>