:host {
  display: block;
}

p.lead-text {
  text-align: center;
  font-size: 150%;
  line-height: 34px;
  max-width: 70%;
  margin: 0 auto;
}

.example-container {
  display: flex;
  flex-direction: column;
  background: white;
  padding: 30px;
  border-radius: 6px;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  margin-top: 26px;
  margin-bottom: 25px;
}

.example-container > * {
  width: 100%;
}

.captcha-wrapper {
  padding-bottom: 20px;
}

@media only screen and (max-width: 599px) {
  p.lead-text {
    max-width: 90%;
  }
}