<h1 class="section-heading">About</h1>
<div class="about-section-lead" fxLayout="row" fxLayout.xs="column">
  <div class="lead-text">
    <h2 class="lead-title">Hello Affiliate</h2>
    <p class="lead-heading">Welcome to the home of Lucky’s Betting</p>
    <p> BetSid is a brand new online casino and sports brand offering friendly betting and a dedication to providing outstanding customer service. With years of experience as a retail bookmaker from our high street betting shop behind our belt we’ve expanded our service to offer the same value betting to online punters too.</p>
    <p> We offer affiliates great commercials , high retention rates and excellent player experiences, making it easy to promote and even easier to earn!</p>
  </div>
  <div class="lead-image-right">
    <img src="/assets/about-right.jpg" />
  </div>
</div>

<div class="coming-soon">
  <h2>Coming Soon</h2>
  <p>Our Affiliate programme is launching soon. In the meantime, get in touch with our affiliate team to get a sneak peek on what we have to offer.</p>
  <button mat-stroked-button class="coming-soon-button" (click)="contactClick.emit($event)">
    contact us
  </button>  
</div>