<!-- Top Section -->
<div class="top-section" [class.marginb]="fixed">
  <div class="logo-bar">
    <div class="logo container" fxLayout.xs="column" fxLayoutAlign.xs="center center">
      <img src="/assets/betsid-logo.png" />
    </div>
  </div>
  <div class="menu-bar" [class.fixed]="fixed">
    <div class="menu-items container" fxLayout="row" fxLayoutGap="25px">
      <img *ngIf="fixed" width="100px" height="25px" src="/assets/betsid-logo.png" />
      <span fxFlex></span>
      <span (click)="scrollToSection('about')">About</span>
      <span (click)="scrollToSection('why')">Why Betsid</span>
      <span (click)="scrollToSection('comm')">Commission</span>
      <!-- <span (click)="scrollToSection('testi')">Testimonials</span> -->
      <span (click)="scrollToSection('contact')">Contact</span>
    </div>
  </div>
  <div class="banner" style="background: url(/assets/athletes-banner.jpg)" fxLayout="column" fxLayoutAlign="center center">
    <div class="banner-text" fxLayout="column" fxLayoutAlign="center center">
      <h1>Earn up to 45% Commission</h1>
      <button mat-stroked-button class="banner-button" (click)="scrollToSection('contact')">
        <mat-icon>mail</mat-icon>
        Get In Touch
      </button>
    </div>
  </div>
</div>

<!-- About Section -->
<app-section-about #about (contactClick)="scrollToSection('contact')"></app-section-about>

<!-- Why BetSid Section -->
<div class="why-section-wrapper" #why>
  <app-section-why></app-section-why>
</div>

<!-- Commission Section -->
<app-section-commission #comm (contactClick)="scrollToSection('contact')"></app-section-commission>

<!-- Testimonial Section -->
<!-- <div class="testimonial-section-wrapper" #testi>
  <app-section-testimonials></app-section-testimonials>
</div> -->

<!-- Contact Section -->
<div class="contact-section-wrapper" style="background: url(/assets/horses.jpg)" #contact>
  <app-section-contact></app-section-contact>
</div>

<!-- Footer -->
<div class="footer" fxLayout.xs="column" fxLayoutAlign.xs="center center">
  <p>Copyright 2018 &copy; BetSid.com</p>
</div>