<h1 class="section-heading">Partners</h1>

<div class="card-wrapper" fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="center center" fxLayoutGap="30px">
  <mat-card>
    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
      <img class="avatar" src="/assets/user.png" />
      <img class="stars" src="/assets/stars.jpg" />
      <p class="text">BetSid offer great value and an excellent service. Their affiliate team is responsive and they offer great incentives for new affiliates to start promoting</p>
      <span>www.yourfreebet.com</span>
    </div>
  </mat-card>
  <mat-card>
    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
      <img class="avatar" src="/assets/user.png" />
      <img class="stars" src="/assets/stars.jpg" />
      <p class="text">BetSid understand value betting. They understand UK punters and have a wealth of experience on the retail side. Working with their marketing team is pretty easy too!</p>
      <span>www.protipster.com</span>
    </div>    
  </mat-card>
</div>
